@import "tailwindcss";

@theme {
  --font-source-code: var(--font-source-code);
  --font-pacifico: var(--font-pacifico);
  --font-pangolin: var(--font-pangolin);
  
  --color-background: #0a0a0a;
  --color-foreground: #fafafa;
  --color-muted: #71717a;
  --color-border: rgba(255, 255, 255, 0.08);
  --color-accent: #e4e4e7;
}

:root {
  --background: #0a0a0a;
  --foreground: #fafafa;
  --muted: #71717a;
  --border: rgba(255, 255, 255, 0.08);
  --accent: #e4e4e7;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-source-code);
}

@layer base {
  h1, h2, h3, h4 {
    font-family: var(--font-pacifico);
  }
  
  * {
    @apply border-[--border];
  }
}

.font-pangolin {
  font-family: var(--font-pangolin) !important;
}
